@import url(https://fonts.lug.ustc.edu.cn/css?family=Fredericka+the+Great);
@import url(https://fonts.lug.ustc.edu.cn/css?family=Fredericka+the+Great|Lato:300);

*{
	padding:0;
	margin:0;
}

body{
	font: 16px/1.8 "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
	font-size: 100%;
	background:#f8f8f8;
}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
p{
	text-align: center;
	font-size: 7em;
}

.wrap{
	max-width: 800px;
	margin:180px auto;
	
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 7em;
	
	text-align: center;
}

.links{
	margin:20px 0;
	font-size: 14px;
	text-align: center;
}
