/*@import url(https://fonts.lug.ustc.edu.cn/css?family=Fredericka+the+Great|Lato:300);*/
@font-face {
    font-family: 'fredericka_the_greatregular';
    src: url('./font/frederickathegreat-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('./font/lato-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	padding:0;
	margin:0;
}

body{
	font: 16px/1.8 "latolight", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
	font-size: 100%;
	background:#f8f8f8;
}

a{
	text-decoration: none;
	color:#666;
}
a:hover{
		color:#999;
	}
.p{display: none;}
.wrap{
	max-width: 800px;
	margin:180px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	font-family: 'fredericka_the_greatregular', cursive;
	font-size: 6em;
	text-align: center;
}

.links{
	margin:20px 0;
	font-size: 14px;
	text-align: center;
}
